body
{
background-image: url("lambo.webp");
}


#output
{
	padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
}

.button_roomname {background-color: yellow;}

h1
{
    font-family: 'Dancing Script', cursive;
    color: white;
}